.header {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-left: 138px;
    padding-right: 138px;
    padding-bottom: 13px;
    background-color: hsl(210, 25%, 98%);
    height: 33px;
}

.head__nav-block {
    display: flex;
    margin-top: 20px;
}

.head__nav-item:not(:last-child) {
    margin-right: 55px;
}

.head__nav-link {
    font-weight: 700;
    color: #4F4F4F
}

.header__logo {
    position: relative;
    margin-top: 20px;
    right: 2px;
}

.header__contact-links {
    display: flex;
    align-items: center;
}

.head__contact-use {
    margin-right: 50px;
    margin-top: 20px;

    span {
        color: #4F4F4F;
        font-weight: 700;
    }
}

.head__gift {
    width: 140px;
    height: 42px;
    background-color: #0ABAEE;
    color: #FAFBFC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15.5px;

    span {
        font-weight: 800;
        color: #FAFBFC;
    }
}

.head__sm-icon {
    margin-right: 8px;
}

.header__fixed {
    height: 60px;
    position: sticky;
    width: 100%;
    z-index: 100;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.header__container {
    margin: auto;
    height: 30px;
}

.head__nav-link {
    font-weight: 700;
    font-size: 12px;
    color: #4F4F4F;
    width: 75px;
}

.head__nav-link--active {
    font-weight: 700;
    font-size: 12px;
    color: #4F4F4F;
    z-index: 10;

    &:after {
        position: absolute;
        content: "";
        width: 75px;
        background-color:#8f9295;
        opacity: 0.05;
        border-radius: 8px;
        height: 30px;
        margin-left: -63px;
        margin-top: -7px;
    }
}

.head__nav-link--active_one{
    font-weight: 700;
    font-size: 12px;
    color: #4F4F4F;
    z-index: 10;

    &:after {
        position: absolute;
        content: "";
        width: 75px;
        background-color:#8f9295;
        opacity: 0.05;
        border-radius: 8px;
        height: 30px;
        margin-left: -54px;
        margin-top: -7px;
    }
}