.ticketed__status{
    font-weight: 600;
    font-size: 14px;
    color: #333333;
  
    margin: auto;
    margin-top:20px;
    margin-left: 0px;
    margin-right: 17.5px;

    display: flex;
    justify-content: space-between;
}

.arrow__down{
    transform: rotate(0deg);
    transition: all .2s ease-in;
    margin-left: 540px;
    margin-top: 27px;
}
.arrow__down-active{
    transform: rotate(180deg);
    transition: all .2s ease-in;
    margin-left: 540px;
    margin-top: 27px;
}

select{
    display: none;
}

.select__bar{
    background-color: #fff;
    box-shadow: 3px 4px 12px rgba(27, 36, 45, 0.15);
    border-radius: 16px;
    width: 585px;
    margin-top: 17px;
    border-radius: 16px;
    margin-left: -17px;
}

.option__item{
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    &:last-child {
        padding-bottom: 5px;
    }
    &:not(:last-child) {
        border-bottom: 1px solid #9C9EA1;
        padding-bottom: 5px;
    }
}

.list__item-option{
    position: absolute;
    margin-top: 22px;
}