.area__bg {
    background-image: url(../../../public/images/area-images/area-bg.jpg);
    height: 540px;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    background-size: cover;
}

.thessaloniki__out-block {
    width: 1280px;
    height: 380px;
    background-color: #fff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 200px;
    box-shadow: 0px 4px 12px rgba(27, 36, 45, 0.15);
    border-radius: 16px;
    margin-bottom: 200px;
}

.thessaloniki__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 0px;
    color: #1B242D;
    padding-top: 100px;
    padding-left: 80px;
}

.thessaloniki__area-location {
    padding-left: 80px;
    color: #C3C6C9;
}

.thessaloniki__area-text {
    padding-left: 80px;
    padding-right: 80px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #1B242D;
}

.highlights {
    background: #F2F5F8;
    position: relative;
    top: 67px;
    height: 63px;
    display: flex;
    border-radius: 0 0 16px 16px;
}

.highlight__block {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-left: 80px;
}

.highlight__variants {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #1B242D;
    margin-left: 8px;
}

.highlights__list {
    display: flex;
    margin-top: 30px;
}

.highlights__item {
    background-color: #fff;
    height: 16px;
    margin-left: 15px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 16px;
}

.overview__area-block {
    max-width: 1440px;
    position: relative;
    bottom: 300px;
    margin: auto;
}

.area__h4-title {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1B242D;
}

.overview__area-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #1B242D;
    max-width: 1100px;
    margin: auto;

    &:not(:first-child) {
        margin-top: 30px;
    }
}

.area__slider {
    margin-top: -200px;
    margin-bottom: 200px;
}

.slide__item {
    outline: none;
}

.next__arrow {
    background-image: url(../../svg/arrows/next__arrow.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    right: 105px;
    z-index: 1;
}

.prev__arrow {
    background-image: url(../../svg/arrows/prev__arrow.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 100px;
    z-index: 1;
}

.prev__arrow-hover {
    background-image: url(../../svg/arrows/prev__arrow.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    top: 44.5%;
    left: 100px;
    z-index: 1;
}

.next__arrow-hover {
    background-image: url(../../svg/arrows/next__arrow.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    top: 44.5%;
    right: 105px;
    z-index: 1;
}

.slider__hover {
    z-index: 50;
}

.hidden {
    display: none;
}

.fi-plus {
    background: #1B242D;
    width: 32px;
    height: 32px;
    margin-left: 200px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transform: rotate(45deg);
}

.btn__area-close {
    outline: none;
    border: none;
    background-color: transparent;
    margin-top: -500px;
    position: relative;
    bottom: 800px;
    left: 1000px;
    z-index: 30;
}

.picture__inside-slide {
    height: 450px;
}

/*---------------sub slider-=--------------*/

.sub__content-slider {
    position: relative;
    bottom: 80px;
    max-width: 1100px;
    margin: auto;
}

/*-------section__carts-place--vacation--------*/

.section__carts-place--vacation {
    margin-top: 80px;
}

.slide__item-car--div {
    margin-bottom: 50px;
}

.swiper__simple-slider {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 975px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.slide__item-cart {
    background-color: #FAFBFC;
    max-width: 299px;
}

.area__subtitle-carts {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #C3C6C9;
    line-height: 0;
    margin-bottom: 40px;
}

.cart__vacation-icon {
    width: 299px;
    border-radius: 16px 16px 0 0;
}

.discount__vacation {
    background: #6FCF97;
    border-radius: 8px;
    display: inline-block;
    display: flex;
    align-items: center;
    width: 90px;
    position: absolute;
    top: 16px;
    left: 16px;

    span {
        color: #fff;
        padding: 4px 8px;
    }
}

.description__cart {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(195, 198, 201, .5);
        padding-bottom: 16px;
    }
}

.description__less-cart {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 13px;
    border-bottom: 1px solid rgba(195, 198, 201, .5);
    padding-bottom: 16px;
}

.pre__parameter {
    span {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-transform: capitalize;
        color: #C3C6C9;
    }
}

.main__parameter {
    span {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #1B242D;
    }
}

.main__subparameter {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #1B242D;
}


.description__last-cart {
    margin-top: 20px;
    margin-left: 10px;
}

.together__blocks {
    display: flex;

    span {
        margin-left: 8px;
    }
}

.proses__hotel {
    display: flex;
    margin-top: 15px;
    margin-bottom: 16px;
}


.pros__hotel {
    position: relative;
    margin-right: 10px;
    border: 1px solid rgba(226, 237, 207, 0.15);
    border-radius: 16px;
    padding: 2px 8px;

    span {
        color: #FAFBFC;
        font-size: 10px;
    }
}

.cart__hotel-blue--light {
    background: #2D9CDB;
}

.cart__hotel-blue--dark {
    background: #2F80ED;
}

.link_offer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 16px 16px;
    background-color: #003C76;
    color: #FAFBFC;
    height: 48px;
}

.pre__parameter-absolute {
    position: relative;
    right: 35px;
}

.main__parameter-absolute {
    max-width: 190px;
    position: absolute;
    margin-left: -35px;
}

.swiper-pagination-bullet {
    background-color: #C3C6C9;
    width: 6px;
    height: 6px;
}

.swiper-pagination-bullet-active {
    background-color: #1B242D;
    width: 7px;
    height: 7px;
}

.insider__tips {
    margin-top: 150px;
}

.insider__tips-container {
    max-width: 1120px;
    margin: auto;
}

.insider__images {
    margin-top: 70px;
}

.inside__image-item {
    &:not(:last-child) {
        margin-right: 20px;
    }

    transition: all .2s ease-in;

    &:hover {
        transform: scale(1.1);
    }
}


.section__cart-slider--hotels{
    margin-top: 150px;
}


.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: '';
    position: absolute;
    left: 6px;
    width: 32px;
    height: 32px;
    background-image: url(../../svg/arrows/next__arrow.svg);
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: '';
    position: absolute;
    right: 6px;
    width: 32px;
    height: 32px;
    background-image: url(../../svg/arrows/prev__arrow.svg);
}

.swiper__simple-slider-last {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1205px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.slide__item-cart--last {
    background-color: #FAFBFC;
    max-width: 299px;
    margin-left: 73px;
    position: relative;
    left: -25px;
}

.swiper__slide-hotel{
    // margin-right: -140px;
    margin-left: -1px;

    &:nth-child(3) {
        margin-right: 50px;
    }

    &:nth-child(6) {
        margin-right: 50px;
    }
}

.main__parameter-hotel {
    span {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: capitalize;
        color: #1B242D;
    }
}


.description__cart-hotel {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(195, 198, 201, .5);
        padding-bottom: 16px;
    }
}

.description__cart-hotel--description{
    padding-top: 16px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(195, 198, 201, .5);
    padding-bottom: 16px;
}

.hotel__stars{
    margin-bottom: 12px;
}

.hotel__star:not(:last-child) {
    margin-right: 9px;
}

.hotel__area-pad{
    margin-bottom: 5px;
}