.sub__gr1 {
    position: absolute;
    transition: all .2s ease-in;
    margin-top: 200px;
    cursor: url(../../svg/cursor.png), auto;
}

.sub__gr1:hover{
    fill: #F5BB2C;
}

.sub__gr1:hover {
    stroke-opacity: 0;
}

.sub__gr1 ellipse {
    fill: #1B242D;
    transition: all .2s ease-in;
}

.sub__gr1:hover ellipse {
    fill: #0ABAEE;
}

.sub__gr2{
    position: absolute;
    margin-top: 140px;
    margin-left: 35px;
    transition: .2s all ease-in;
    cursor: url(../../svg/cursor.png), auto;
}

.sub__gr2:hover {
    fill: #2F6BB4;
}

.sub__gr2 ellipse {
    fill: #1B242D;
    transition: all .2s ease-in;
}

.sub__gr2:hover ellipse {
    fill: #0ABAEE;
}


.sub__gr3{
    position: absolute;
    margin-top: 69px;
    margin-left: 105.5px;
    transition: .2s all ease-in;
    cursor: url(../../svg/cursor.png), auto;
}

.sub__gr3:hover {
    fill: #F5BC2E;
    z-index: 1;
}

.sub__gr3 ellipse {
    fill: #1B242D;
    transition: all .2s ease-in;
}

.sub__gr3:hover ellipse {
    fill: #0ABAEE;
}

.sub__gr4{
    position: absolute;
    margin-top: 13px;
    margin-left: 190px;
    transition: .2s all ease-in;
    cursor: url(../../svg/cursor.png), auto;
}

.sub__gr4:hover {
    fill: #F5BC2E;
}

.sub__gr4 ellipse {
    fill: #1B242D;
    transition: all .2s ease-in;
}

.sub__gr4:hover ellipse {
    fill: #0ABAEE;
}


.sub__gr5{
    position: absolute;
    margin-top: -28.5px;
    margin-left: 364px;
    transition: .2s all ease-in;
    cursor: url(../../svg/cursor.png), auto;
}

.sub__gr5:hover {
    fill: #F5BC2E;
}

.sub__gr5 ellipse {
    fill: #1B242D;
    transition: all .2s ease-in;
}

.sub__gr5:hover ellipse {
    fill: #0ABAEE;
}

.sub__gr6{
    position: absolute;
    margin-top: 157.9px;
    margin-left: 136px;
    transition: .2s all ease-in;
    cursor: url(../../svg/cursor.png), auto;
}

.sub__gr6:hover {
    fill: #52B55F;
}

.sub__gr6 ellipse {
    fill: #1B242D;
    transition: all .2s ease-in;
}

.sub__gr6:hover ellipse {
    fill: #0ABAEE;
}


.sub__gr-group:hover{
    fill: #22AAA8;
}

.sub__gr7{
    position: absolute;
    margin-top: 277px;
    margin-left:101px;
    transition: .2s all ease-in;
    // transform: rotate(1deg);
    cursor: url(../../svg/cursor.png), auto;
}

.sub__gr7:hover {
    fill: #22AAA8;
}


.sub__gr8{
    position: absolute;
    margin-top: 267px;
    margin-left: 159px;
    transition: .2s all ease-in;
    transform: rotate(0.5deg);
    cursor: url(../../svg/cursor.png), auto;
}

.sub__gr8:hover {
    fill: #22AAA8;
}

.sub__gr8 ellipse {
    fill: #1B242D;
    transition: all .2s ease-in;
}

.sub__gr8:hover ellipse {
    fill: #0ABAEE;
}


.sub__gr9{
    position: absolute;
    margin-top: 378px;
    margin-left: 133px;
    transition: .2s all ease-in;
    z-index: 1;
    cursor: url(../../svg/cursor.png), auto;
}

.sub__gr9:hover {
    fill: #907C72;
}

.sub__gr9 ellipse {
    fill: #1B242D;
    transition: all .2s ease-in;
}

.sub__gr9:hover ellipse {
    fill: #0ABAEE;
}

.sub__gr10{
    position: absolute;
    margin-top: 401px;
    margin-left: 173px;
    transition: .2s all ease-in;
    cursor: url(../../svg/cursor.png), auto;
}

.sub__gr10:hover {
    fill: #907C72;
}

.sub__gr10 ellipse {
    fill: #1B242D;
    transition: all .2s ease-in;
}

.sub__gr10:hover ellipse {
    fill: #0ABAEE;
}

.sub__gr11{
    position: absolute;
    margin-top: 376.5px;
    margin-left: 298.5px;
    transition: .2s all ease-in;
    cursor: url(../../svg/cursor.png), auto;
}

.sub__gr11:hover {
    fill: #A2CF6C;
}

.sub__gr11 ellipse {
    fill: #1B242D;
    transition: all .2s ease-in;
}

.sub__gr11:hover ellipse {
    fill: #0ABAEE;
}


.sub__gr12{
    position: absolute;
    margin-top: 176.5px;
    margin-left: 490px;
    transition: .2s all ease-in;
    cursor: url(../../svg/cursor.png), auto;
}

.sub__gr12:hover {
    fill: #907C72;
}

.sub__gr12 ellipse {
    fill: #1B242D;
    transition: all .2s ease-in;
}

.sub__gr12:hover ellipse {
    fill: #0ABAEE;
}

.sub__gr13{
    position: absolute;
    margin-top: 420px;
    margin-left: 410px;
    transition: .2s all ease-in;
    cursor: url(../../svg/cursor.png), auto;
}

.sub__gr13:hover {
    fill: #814D99;
}

.sub__gr13 ellipse {
    fill: #1B242D;
    transition: all .2s ease-in;
}

.sub__gr13:hover ellipse {
    fill: #0ABAEE;
}

.sub__gr14{
    position: absolute;
    margin-top: 670px;
    margin-left: 350px;
    transition: .2s all ease-in;
    cursor: url(../../svg/cursor.png), auto;
}

.sub__gr14:hover {
    fill: #BE007D;
}

.sub__gr14 ellipse {
    fill: #1B242D;
    transition: all .2s ease-in;
}

.sub__gr14:hover ellipse {
    fill: #0ABAEE;
}

.sub__gr15{
    position: absolute;
    margin-top: 129px;
    margin-left: 398px;
    transition: .2s all ease-in;
    cursor: url(../../svg/cursor.png), auto;
}

.sub__gr15:hover {
    fill: #AEACAD;
}

.sub__gr15 ellipse {
    fill: #1B242D;
    transition: all .2s ease-in;
}

.sub__gr15:hover ellipse {
    fill: #0ABAEE;
}

/*destination cart */

.hidden{
    display: none;
}

.destination__cart-shown{
    position: absolute;
    height: 310px;
    width: 260px;
    background-color: #fff;
    box-shadow: 0px 12px 12px rgba(0, 60, 118, 0.15);
    border-radius: 8px;
    z-index: 3;
}

.destination__cart-picture{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.destination__cart-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1B242D;
    margin-left: 16px;
}

.destination__cart-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #1B242D;
    max-width: 220px;
    margin-left: 16px;
}

.link__block-destination--map{
    display: flex;
    justify-content: center;
}

.link__detail-cart--map{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 36px;
    background: #F2F5F8;
    border-radius: 8px;

    div {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #1B242D;
    }
}

.destination__cart-shown--1{
    margin-left: -50px;
    margin-top: -100px;
}

.destination__cart-shown--2{
    margin-left: -50px;
    margin-top: -110px;
}

.destination__cart-shown--3{
    margin-left: -0px;
    margin-top: -200px;
}

.destination__cart-shown--4{
    margin-left: 300px;
    margin-top: 00px;
}

.destination__cart-shown--5{
    margin-left: 600px;
}

.destination__cart-shown--6{
    position: absolute;
    margin-left: 350px;
    margin-top: 0px;
}

.destination__cart-shown--7{
    position: absolute;
    margin-left: 150px;
    margin-top: 50px;
}

.destination__cart-shown--8{
    position: absolute;
    margin-top: 50px;
    margin-left: 250px;
}

.destination__cart-shown--9{
    position: absolute;
    margin-top: 500px;
    margin-left: 0px;
}

.destination__cart-shown--10{
    position: absolute;
    margin-top: 350px;
    margin-left: 300px;
}

.destination__cart-shown--11{
    position: absolute;
    margin-top: 110px;
    margin-left: 300px;
}

.destination__cart-shown--12{
    position: absolute;
    margin-top: 180px;
    margin-left: 300px;
}

.destination__cart-shown--13{
    position: absolute;
    margin-top: 350px;
    margin-left: 650px;
}

.destination__cart-shown--14{
    position: absolute;
    margin-top: 650px;
    margin-left: 50px;
}

.destination__cart-shown--15{
    position: absolute;
    margin-top: 650px;
    margin-left: 50px;
}

.destination__cart-shown--16{
    position: absolute;
    margin-top: -50px;
    margin-left: -30px;
}

.destination__cart-shown--17{
    position: absolute;
    margin-top: 540px;
    margin-left: 50px;
}

.destination__cart-shown--18{
    position: absolute;
    margin-top: 470px;
    margin-left: 350px;
}

.destination__cart-shown--19{
    position: absolute;
    margin-top: 190px;
    margin-left: 660px;
}

.destination__cart-shown--20{
    position: absolute;
    margin-top: -130px;
    margin-left: 250px;
}
/*Cyprus regions svg map*/

ellipse {
    fill: #1B242D;
    transition: all .2s ease-in;
}

.cyprus__sub-reg--1{
    position: absolute;
    margin-top: 270px;
    transition: .2s all ease-in;
}

.cyprus__sub-reg--1:hover {
    fill: #E85C4B;   
}

.cyprus__sub-reg--1:hover ellipse {
    fill: #0ABAEE;
}

.cyprus__sub-reg--2{
    position: absolute;
    margin-top: 222.5px;
    margin-left: 105px;
    transition: .2s all ease-in;
    z-index: 2;
}

.cyprus__sub-reg--2:hover {
    fill: #B2CD4C;   
}

.cyprus__sub-reg--2:hover ellipse {
    fill: #0ABAEE;
}

.cyprus__sub-reg--3{
    position: absolute;
    margin-top: 365.5px;
    margin-left: 128.5px;
    transition: .2s all ease-in;
}
.cyprus__sub-reg--3:hover {
    fill: #F39452;   
}

.cyprus__sub-reg--3:hover ellipse {
    fill: #0ABAEE;
}

.cyprus__sub-reg--4{
    position: absolute;
    transition: .2s all ease-in;
    margin-left: 305px;
    margin-top: 295px;
    z-index: 1;
}

.cyprus__sub-reg--4:hover {
    fill: #FCE148;   
}

.cyprus__sub-reg--4:hover ellipse {
    fill: #0ABAEE;
}

.cyprus__sub-reg--5{
    position: absolute;
    transition: .2s all ease-in;
    margin-left: 454px;
    margin-top: 48px;
}

.cyprus__sub-reg--5:hover {
    fill: #70AB2B;   
}

.cyprus__sub-reg--5:hover ellipse {
    fill: #0ABAEE;
}

.cyprus__sub-reg--6{
    position: absolute;
    transition: .2s all ease-in;
    margin-left: 232px;
    margin-top: 171px;
}

.cyprus__sub-reg--6:hover {
    fill: #65BA90;   
}

.cyprus__sub-reg--6:hover ellipse {
    fill: #0ABAEE;
}

.destination__cart-shown--15{
    position: absolute;
    margin-top: 0;
    margin-left: 0;
}

.worldwide-bg{
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -260px;
    margin-left: -10px;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    filter: blur(3px);
}

.wd__bg{
    background-image: url(../../../public/images/wd-bg.png);
    height: 112.9vh;
    width: 68.5vw;
    margin-left: -60px;
    margin-top: -118px;
    border-bottom-right-radius: 16px;

}

.wd__bg-wrapper{
    width: 100px;
    height: 112.9vh;
    width: 68.5vw;
    background: rgba(0, 60, 118, 0.4);
    backdrop-filter: blur(4.5px);
    border-bottom-right-radius: 16px;
}

.worldwide__title{
    color: #FAFBFC;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    font-size: 56px;
    line-height: 0px;
    padding-top: 300px;
    padding-left: 171px;
}

.worldwide__text{
    color: #FAFBFC;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 391px;
    padding-left: 171px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.worldwide__link-flight{
    background: #F2994A;
    border-radius: 8px;
    color: #FAFBFC;
    padding: 12px 32px;
    margin-left: 173px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-right: 16px;
}

.worldwide__link-package{
    padding: 12px 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    background: #2C216F;
    color: #fafbfc;
    border-radius: 8px;
}

.worldwide__links{
    margin-top: 75px;
}