.nav__list{
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top: -13px;
    z-index: 10;
}

.nav__item{
    background: rgba(0, 60, 118, 0.75);

    width: 257.3px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    span {
        color: #fff;
        font-size: 12px
    }
}

.between__item{
        background: rgba(0, 60, 118, 0.75);
        box-shadow: 0px 4px 12px rgba(0, 60, 118, 0.15);
        height: 40px;
        width: 80px;

        &:first-child {
            padding-right: 25px;
        }

        &:last-child {
            padding-right: 57px;
        }
}

.nav__item:hover{
    background-color: #003C76;
}

.active {
    background-color: #003C76;
}

