.sort__by-planner{
    position: relative;
    bottom: 295px;
    width: 1280px;
    height: 235px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 60, 118, 0.15);
    border-radius: 16px;
}

.sort__by-planner--title{
    padding-top: 40px;
    padding-left: 87px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.btn__choose-style{
    border: none;
    outline: none;
    background-color: #fff;
}

.btn__choose-line--active{
    border: none ;
    outline: none;
    padding-top: 5px;
    background-color: #F2F5F8;
}


/*----   -----------   Cart hotels -----------    ----*/

.trip__carts-container{
    max-width: 970px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 220px;
    left: 50%;
    transform: translateX(-50%);
}

.trip__carts-line--container{
    max-width: 1150px;
    // display: flex;
    // flex-wrap: nowrap;
    position: relative;
    bottom: 220px;
    left: 50%;
    transform: translateX(-50%);
}

.trip__cart-item {
    margin-bottom: 50px;
    margin-right: 24px;
    width: 370px;

    &:last-child {
        display: flex;
        justify-content: space-between;
    }

    border-radius: 16px;
}

.trip__item-cart{
    background-color: #FAFBFC;
    max-width: 299px;
}

.cart__vacation-icon {
    width: 370px;
    border-radius: 16px 16px 0 0;
}

.trip__cart-description {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    width: 322px;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(195, 198, 201, .5);
        padding-bottom: 16px;
    }
}

.trip__pre-parameter {
    span {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-transform: capitalize;
        color: #C3C6C9;
    }
}

.trip__main-parameter {
    span {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #1B242D;
    }
}

.trip__description-less--cart {
    margin-top: 15px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 13px;
    border-bottom: 1px solid rgba(195, 198, 201, .5);
    padding-bottom: 16px;
}

.trip__main-subparameter{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #1B242D;
}


.trip__description-last--cart {
    margin-top: 20px;
    margin-left: 10px;
}

.trip__together-blocks {
    display: flex;

    span {
        margin-left: 8px;
    }
}

.trip__proses-hotel {
    display: flex;
    margin-top: 15px;
    margin-bottom: 16px;
}

.trip__pros-hotel  {
    position: relative;
    margin-right: 10px;
    border: 1px solid rgba(226, 237, 207, 0.15);
    border-radius: 16px;
    padding: 2px 8px;

    span {
        color: #FAFBFC;
        font-size: 10px;
    }
}

.trip__cart-hotel--blue__light {
    background: #2D9CDB;
}

.trip__cart-hotel--blue__dark {
    background: #2F80ED;
}

.trip__link-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 16px 16px;
    background-color: #003C76;
    color: #FAFBFC;
    height: 48px;
    width: 100%;
    border: none;
    outline: none;
    width: 370px;

    &:hover {
        background-color:darken(#003C76, 1.5%);
    }
    
    &:active {
        background-color:darken(#003C76, 3%);
    }
}

.trip__cart-item--line{
    display: flex;
    min-width: 1150px;
    min-height: 307px;
    margin-bottom: 40px;

}

.trip__item-cart--line{
    background-color: red;
}

.cart__trip-line{
    border-radius: 16px 0px 0px 16px;
}

.line__cart-content{
    width: 670px;
    padding-top: 23.9px;
}

.trip__link-line--offer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 16px 0px;
    background-color: #003C76;
    color: #FAFBFC;
    height: 48px;

    &:hover {
        background-color:darken(#003C76, 1.5%);
    }
    
    &:active {
        background-color:darken(#003C76, 3%);
    }
}

.trip__cart-line--description{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 185px;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(195, 198, 201, .5);
        padding-bottom: 16px;
    }
}

.trip__description-less--trip__line{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 215px;
    border-bottom: 1px solid rgba(195, 198, 201, .5);
    padding-bottom: 16px;
}

.trip__description-last--cart__line{
    margin-left: 24px;
    margin-top: 20px;
}


/*   ----    categories    ----    */

.catagories__bottom-list{
    display: flex;
    justify-content: space-between;
    margin-left: 85px;
    margin-right: 66px;
}

.categories__tag{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-right: 9px;

    position: relative;
    top: 1px;
}


.categories__hotels{

    ul {
        display: flex;
    }
}


.hotel__list-wrapper{
    display: flex;
    justify-content: center;
    max-width: 1190px;
    margin: auto;

    .hotel__list{
        margin-top: -220px;
        display: flex;
        flex-wrap: wrap;
    }
}

.btn__hotel{
    background: #F2F5F8;
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 12px;
    margin-right: 9px;
    padding: 4px 12px;
    cursor: pointer;


    &:hover {
        background-color: darken(#F2F5F8, 2%);
    }

    &:active {
        background-color: darken(#F2F5F8, 5%);
    }
}

.active__filter{
    position: absolute;
    margin-left: 0px;
    
    background: #1B242D;
    border-radius: 24px;
    color: #fff;
    border: none;
    outline: none;
    margin-right: 9px;

    width: 91px;
    height: 24px;
    &:before {
        position: absolute;
        content: 'Beach view';
        color: #fff;
        font-size: 12px;
        top: 4px;
        left: 17px;
    }
}

.active__filter-2 {
    position: absolute;
    background: #1B242D;
    border-radius: 24px;
    color: #fff;
    border: none;
    outline: none;
    margin-right: 9px;
    width: 124px;
    height: 24px;

    &:before {
        position: absolute;
        content: 'Breakfast included';
        color: #fff;
        font-size: 12px;
        top: 4px;
        left: 13px;
    }
}

.active__filter-3{
    position: absolute;
    background: #1B242D;
    border-radius: 24px;
    color: #fff;
    border: none;
    outline: none;
    margin-right: 9px;
    width: 65px;
    height: 24px;

    &:before {
        position: absolute;
        content: 'Vitae at';
        color: #fff;
        font-size: 12px;
        top: 4px;
        left:12px;
    }
}

.active__filter-4{
    position: absolute;
    
    background: #1B242D;
    border-radius: 24px;
    color: #fff;
    border: none;
    outline: none;
    margin-right: 9px;
    width: 135px;
    height: 24px;

    &:before {
        position: absolute;
        content: 'Vivamus consectetur';
        color: #fff;
        font-size: 12px;
        top: 4px;
        left:12px;
    }
}

.btn__hotel-span--active{
    position: relative;
    color: #fff;
    top: 3px;
}

.btn__hotel-span{
    font-size: 12px;
    line-height: 20px;
    color: #1B242D;
}

.sort__by-planner{
    margin-bottom: 50rem;
}

.hotels__wrapper{
    position: static;
    display: flex;
    flex-wrap: wrap;
    margin-top: 425px;
}

.category__item{
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #1B242D;
    background: #F2F5F8;
    border-radius: 24px;
    padding: 4px 12px;
    margin-right: 9px;

    &-active {
            display: inline-block;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: #fff;
            background: #1B242D;
            border-radius: 24px;
            padding: 4px 12px;
            margin-right: 9px;
    }

    &:hover {
         background: darken(#F2F5F8, 2%);
    }
    &:active {
        background: darken(#F2F5F8, 5%);
   }
}

.categories__span{
    margin-right: 9px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

.sort{
    display: flex;
    align-items: center;

    &__span{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-right: 9px;
    }
    .sort__item{
        width: 52px;
        height: 36px;
        background: #FFFFFF;
        border: 1px solid #C3C6C9;
        border-radius: 8px;
        background: darken(#F2F5F8, 2%);

        &:hover {
            background-color: darken(#FFF, 2%);
        }
    
        &:active {
            background-color: darken(#FFF, 5%);
        }
    
        &-active {
            width: 52px;
            height: 36px;
            border: 1px solid #C3C6C9;
            border-radius: 8px;
        }
    
   

    }
    
}

.sort__item-span {
    position: relative;
    top: 10px;
    left: 14px;
}


.block__props{
    display: flex;
    justify-content: space-between;
    margin-left: 85px;
    margin-right: 85px;
}

.list__duration{
    width: 332.33px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C3C6C9;
    border-radius: 8px;

    .list__duration-content{
        display: flex;
        justify-content: space-between;
        margin-right: 18px;

        .select__arrow{
            position: relative;
            top: 14px;
        }
    }

    .category__duration-block{
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease-in;

    }

    .category__duration-block--active{
        visibility:visible;
        opacity: 1;
        transition: all .3s ease-in;
        margin-top: 30px;
        border: 1px solid #C3C6C9;
        border-radius: 13px;
        position: relative;
        top: 5px;
    }

    .category__item-count{
        height: 20px;
        background-color: #fff;
        width: 98%;
        padding-top: 5px;
        padding-left: 5px;

        &:first-child {
            border-radius: 13px 13px 0px 0px;
        }

        &:last-child {
            border-radius: 0px 0px 13px 13px ;
        }


        &:hover {
            background-color: darken(#f1f1f1, 0.125%);
        }

        &:active {
            background-color: darken(#f2f2f2, 6%);
        }

        &--active {
            background-color: #e9e9e9;
            height: 20px;
            padding-top: 5px;
            padding-left: 5px;

            &:first-child {
                border-radius: 13px 13px 0px 0px;
            }

            &:last-child {
                border-radius: 0px 0px 13px 13px ;
            }

        }
    }
}

.categories__count-span{
    position: relative;
    top: 14px;
    margin-left: 16px;
}