.footer {
    width: 100%;
    max-height: 320px;
    border-top: 1px solid #e1e2e3;
}

.footer__content{
    display: flex;
}

.partners{
    background-color: #f8f9fb;
    padding-left: 80px;
    padding-bottom: 80px;
    padding-top: 71.2px;
    padding-right: 8%;
}

.footer__block-img:first-child{
    margin-bottom: 90px;
}

.footer__img-first{
    margin-right: 80px;
}

/*footer abount*/

.site__links{
    margin-bottom: 55px;
}

.footer__about{
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 55px;
}

.subtitle__footer {
    margin-bottom: 16px;
    span {
        color: #1B242D;
        font-size: 12px;
    }
}

.footer__list-links{
    display: flex;
    flex-wrap: wrap;
}

.footer__item-link{
    margin-right: 30px;
}

.footer__link{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    color: rgba(27, 36, 45, 0.55);
}


.footer__about-item{
    margin-bottom: 15px;
}

.footer__link-num{
    display: block;
    color:rgba(27, 36, 45, 0.55);
}


.footer__list-info{
    display: flex;
    justify-content: space-between;
}

.social__list-footer{
    display: flex;
}

.social__item-footer:not(:last-child){
    margin-right: 22px;
}

/*footer navigation*/

.footer__navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1B242D;
    height: 40px;
}

.footer__nav-list{
    display: flex;
    margin-left: 80px;
}

.footer__nav-item{
    color: #F2F5F8;

}

.footer__nav-link{
    color: #F2F5F8;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

.divide__line{
    margin-right: 15px;
    margin-left: 15px;
    color: #F2F5F8;
}

.footer__text-info{
    margin-right: 80px;
    p {
        color: #F2F5F8;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: right;
    }
}