.tabs__country{
    padding-top: 40px;
}

.tab__country{
    border: none;
    outline: none;
    background-color: #f2f5f8;
    min-height: 80px;
    width: 240px;
    height: 10vh;
}

.active__tab-country{
    border: none;
    outline: none;
    background-color: #fff;
    height:80px;
    width: 240px;

    &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 80px;
        background-color:#0ABAEE;
        transform: rotate(90deg);
        margin-top: -27px;
        margin-left: 78.7px;
    }
}

.active__tab-country--2::after{
    margin-top: -20px;
}

.active__tab-country--3::after{
    margin-top: -15px;
}

.country__view-content{
    display: flex;
    align-items: center;
}

.svg__icon{
    margin-right: 15px;
    margin-left: 5px;
}

.tab__font {
    color:#1B242D;
    font-size: 12px;
    font-weight: 500;
    height: 14px
}

.content{
    display: none;
}

.out__content{
    position: absolute;
    margin-left: 300px;
    margin-top: -200px;
}